@media (min-width: 1200px){
	.container-index {
	    max-width: 1440px;
	}
}

body {
	width: 100%;
	background-color: #f1f3f4;
}

.container-index {
	background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    padding-top: 64px;
}

.container-index .row-intro {
	text-align: center;
	background: transparent url(../img/vilapix_home_landing.png) right no-repeat;
	background-size: 98% auto;
	height: 940px;
}

.container-index .row-intro .row-logo {
	padding-top: 70px;
	margin: 0 auto;
	width: 100%;
}

.container-index .row-intro .row-text {
	margin: 0 auto;
	margin-bottom: 590px;
}

.container-index .row-intro .row-text h1 {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
    line-height: 1.25;
    font-size: 56px;
    font-weight: 300;
}

.container-index .row-intro .row-text h1 p {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
	font-size: 24px;
	padding-top: 15px;
	color: #3c4043;
}

.container-index .scroll {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
}

.container-index .scroll img {
	height: 60px;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
}

.container-index .row-about-us {
	text-align: center;
	width: 100%;
	margin: 0;
	margin-top: -100px;
}

.container-index .row-about-us .row-objetivos {
	width: 100%;
	margin: 0;
}

.container-index .row-about-us .row-objetivos .col {
	display: block;
	height: 350px;
	min-width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
}
.container-index .row-about-us .row-objetivos .col:hover {
	-webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.15);
}

.container-index .row-about-us .row-objetivos img {
	height: 180px;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
}

.container-index .row-about-us .row-objetivos h2 {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
	font-size: 22px;
	padding-top: 5px;
	color: #3c4043;
}

.container-index .row-about-us .row-objetivos p {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3c4043;
}

.container-index .row-plans {
	background: transparent url(../img/vilapix_plan_landing.png) left no-repeat;
	background-size: 98% auto;
	min-height: 670px;
	padding-top: 160px;
	padding-left: 140px;
}

.container-index .row-plans .col-plano {
	margin: 0;
	padding-top: 20px;
}

.container-index .row-plans .col-plano .owl-nav {
	position: relative;
	bottom: 167px;
	width: 105%;
	font-size: 40px;
}

.container-index .row-plans .col-plano .owl-nav button:focus {
	outline: none;
}

.container-index .row-plans .col-plano .owl-nav .owl-next {
	float: right;
}

.container-index .row-plans .col-plano .item-plano {
	max-width: initial;
    height: 280px;
    width: 244px;
    padding: 40px 20px 25px;
    background: #fff;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
    float: right;
    text-align: center;
}

.container-index .row-plans .col-plano .item-plano .valor {
    font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.container-index .row-plans .col-plano .item-plano .beneficios {
	text-align: left;
	padding-left: 10px;
    font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2e7d32;
}

.container-index .row-plans .col-text {
	padding-left: 5%;
	padding-right: 5%;
}

.container-index .row-plans .col-text h2 {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
	font-size: 44px;
	color: #3c4043;
	line-height: 1.625;
}

.container-index .row-plans .col-text p.large {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
	padding-top: 5px;
	font-size: 18px;
	color: #3c4043;
	line-height: 1.625;
}

.container-index .row-plans .col-text p.small {
	font-family: "GoogleSans", "ProductSans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3c4043;
	line-height: 1.625;
}
